extends layout

block content
    div#nominations
        h1 Nominations
        div.panel.panel-default
            - each noms, cat in results
                div.panel-heading
                    b #{cat}
                div.panel-body
                    table.table.table-striped
                        thead
                            tr
                                td(style='width: 50%')
                                    b Movie
                                td(style='width: 50%')
                                    b Note
                        tbody
                            - each nom in noms
                                tr
                                    - if(nom.kategori == 'Best Actor' || nom.kategori == 'Best Actress' || nom.kategori == 'Best Supporting Actor' || nom.kategori == 'Best Supporting Actress' || nom.kategori == 'Best Original Song' || nom.kategori == 'Best Director')
                                        td
                                            p #{nom.note}
                                        td
                                            p #{nom.filmnavn}
                                    - else
                                        td
                                            p #{nom.filmnavn}
                                        td
                                            p #{nom.note}

