extends layout

block content
    div#nominations
        h1 Nominations
        div.panel.panel-default
            - each noms, cat in results
                div.panel-heading
                    b #{cat}
                div.panel-body
                    table.table.table-striped
                        thead
                            tr
                                - if(cat == ' Actor in a Leading Role ' || cat == ' Actress in a Leading Role ' || cat == ' Actor in a Supporting Role ' || cat == ' Actress in a Supporting Role ' || cat == ' Music Original Song ' || cat == ' Directing ')
                                    td(style='width: 50%')
                                        b Name
                                    td(style='width: 50%')
                                        b Movie
                                - else
                                    td(style='width: 50%')
                                        b Movie
                                    td(style='width: 50%')
                                        b Note

                        tbody
                            - each nom in noms
                                tr
                                    - if(nom.category == ' Actor in a Leading Role ' || nom.category == ' Actress in a Leading Role ' || nom.category == ' Actor in a Supporting Role ' || nom.category == ' Actress in a Supporting Role ' || nom.category == ' Music Original Song ' || nom.category == ' Directing ')
                                        td
                                            p #{nom.note}
                                        td
                                            p #{nom.movie_title}
                                    - else
                                        td
                                            p #{nom.movie_title}
                                        td
                                            p #{nom.note}

